@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #1a1a1a;
  --foreground: #ffffff;
  /* font-size: 1.5vw; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Montserrat;
}

h1 {
  color: #f7931e;
}